<!DOCTYPE html>
<html lang="es">
<head>
    <% var rootPath = './' %> 
    <%- include(rootPath + 'head.ejs'); %>
    <%- include(rootPath + 'ejs-resources/publication/publication_style.ejs'); %>
    <%- include(rootPath + 'ejs-resources/publication/publication_slider_style.ejs'); %>

    <title>DogsHome | <%= String(name).charAt(0).toUpperCase() + String(name).slice(1) %></title>
    <link rel="icon" href="/images/DogsHomeLogo-ReDesign%20(Colorified&Final).png">

    <meta property="og:title" content="Dogshome | <%= String(name).charAt(0).toUpperCase() + String(name).slice(1) %>">
    <meta property="og:url" content="https://dogshome.com.ar/publicacion/<%= pubId %>"/>
    <meta property="og:description" content="<%= description %>">
    <meta property="og:image" content="<%= photo %> ">
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="es_ES" />

    <script src="/scripts/alerts/page-alerts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.9/dist/js/splide.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.9/dist/css/themes/splide-default.min.css">
</head>
<body>

    <%- include(rootPath + 'ejs-resources/search-bar/search-bar.ejs')%>

    <%- include(rootPath + 'ejs-resources/menu-mobile/expandable-menu.ejs') %> 
    <div id="all-container">
        <div id="post">
            <div style="flex-direction: row; display: flex; width: 100%; height: 100%">
                <div id="post-images-selector">
                    <div class="secondary-image-cont-selected" id="primary-image-cont-min" onclick="onSecondaryImageClick(this.id)">
                        <img src="<%= photo %> " alt class="secondary-image" id="primary-image-min">
                    </div>
                    <% secPhotos.forEach(function(photo) { %>
                        <div class="secondary-image-cont-unselected" id="secondary-image<%= secPhotos.indexOf(photo) %>" onclick="onSecondaryImageClick(this.id)">
                            <img src="<%= photo %>" alt class="secondary-image">
                        </div>
                    <% }) %>
                </div>
                <div id="left-post">
                    <div id="post-image-container">
                        <img id="post-image" src="<%= photo %> " alt>
                        <!--Creates the slider-->
                        <div id="splide-slider-wrapper">
                            <div id="main-wrapper">
                                <div class="splide" id="splide-slider-main">
                                    <div class="splide__track">
                                        <ul class="splide__list">
                                            <% allPhotos.forEach(function(photo){%>
                                                <li class="splide__slide">
                                                    <img src="<%= photo %> " class="main-slider-image" alt>
                                                </li>
                                            <%});%>
                                        </ul>
                                    </div>
                                  </div>
                            </div>
                            <div id="thumbnail-wrapper">
                                <div class="splide" id="splide-slider">
                                    <div class="splide__track">
                                        <ul class="splide__list">
                                            <% allPhotos.forEach(function(photo){%>
                                                <li class="splide__slide">
                                                    <img src="<%= photo %>" alt>
                                                </li>
                                            <%});%>
                                        </ul>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div id="publication-content-mobile" class="mobile">
                            <div class="post-name-mobile-container">
                                <a id="post-name-mobile"><%= name %></a>
                                <a id="post-shelter-name" onclick="window.location = '/perfil/<%= refId %>'"><%= ShelterName %></a>
                            </div>
                            <div id="publication-description-mobile" class="mobile">
                                <a style="font-weight: bolder; color: rgba(0, 0, 0, 0.75); margin-bottom: 10px;">Descripción</a>
                                <p id="publication-description-text-mobile"><%= description %></p>
                            </div>
                            <div class="post-details-mobile mobile">
                                <div class="detail-cont">
                                    <a class="detail-name-mobile">Castrado: </a>
                                    <a class="detail-prop"><%- castrated ? 'Sí' : 'No'%></a>
                                </div>
                                <div class="detail-cont">
                                    <a class="detail-name-mobile">Amigable con gatos: </a>
                                    <a class="detail-prop"><%- catfriendly ? 'Sí' : 'No'%></a>
                                </div>
                                <div class="detail-cont">
                                    <a class="detail-name-mobile">Amigable con perros: </a>
                                    <a class="detail-prop"><%- dogfriendly ? 'Sí' : 'No'%></a>
                                </div>
                                <div class="detail-cont">
                                    <a class="detail-name-mobile">Amigable con niños: </a>
                                    <a class="detail-prop"><%- kidsfriendly ? 'Sí' : 'No'%></a>
                                </div>
                                <div class="detail-cont">
                                    <a class="detail-name-mobile">Color: </a>
                                    <a class="detail-prop"><%= color %></a>
                                </div>
                                <div class="detail-cont">
                                    <a class="detail-name-mobile">Tamaño: </a>
                                    <a class="detail-prop"><%= size %></a>
                                </div>
                                <div class="detail-cont">
                                    <a class="detail-name-mobile">Edad (Años): </a>
                                    <a class="detail-prop"><%= ageInYears %></a>
                                </div>
                                <div class="detail-cont">
                                    <a class="detail-name-mobile">Edad (Meses): </a>
                                    <a class="detail-prop"><%= ageInMonths %></a>
                                </div>
                                <div class="detail-cont">
                                    <a class="detail-name-mobile">Raza: </a>
                                    <a class="detail-prop"><%= breed %></a>
                                </div>
                                <div class="detail-cont">
                                    <a class="detail-name-mobile">Vacunado: </a>
                                    <a class="detail-prop"><%- vaccinated ? 'Sí' : 'No'%></a>
                                </div>
                                <div class="detail-cont">
                                    <a class="detail-name-mobile">Desparasitado: </a>
                                    <a class="detail-prop"><%- dewormed ? 'Sí' : 'No'%></a>
                                </div>
                            </div>
                            <% if(shelterPubs.length > 0) {%>
                                <div id="more-shelter-publications-mobile">
                                    <h1 style="font-family: 'Lato', sans-serif; font-weight: bolder; font-size: 14pt; color: rgba(0, 0, 0, 0.75);">Mas publicaciones de <a href="/perfil/<%= refId %> " style="color: #079292; text-decoration: none;"><%= ShelterName %></a></h1>
                                    <div class="shelter-publications-container">
                                        <% shelterPubs.forEach(function(post){%>
                                            <div class="publication"
                                                onclick="{let uid = '<%= post.Id %>'; window.location = '/publicacion/' + uid}">
                                                <img src=<%=post.Photo %> alt class="publication-photo">
                                                <div class="publication-desc-cont">
                                                    <h1 class="publication-name">
                                                        <%= post.Name %>
                                                    </h1>
                                                    <p class="publication-description">
                                                        <%= post.SDescription %>
                                                    </p>
                                                </div>
                                                <div class="ref-name-cont">
                                                    <a>
                                                        <%= post.Refugio %>
                                                    </a>
                                                </div>
                                            </div>
                                        <%});%>
                                    </div>
                                </div>
                            <%}%>
                        </div>
                    </div>
                    <div id="secondary-images-container-mobile">
                        <% secPhotos.forEach(function(photo) { %>
                            <div class="secondary-image-cont-unselected" id="secondary-image-mobile<%= secPhotos.indexOf(photo) %>" onclick="onSecondaryImageClick(this.id)">
                                <img src="<%= photo %>" alt class="secondary-image">
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>

            <div id="right-post">
                <div id="publication-details">
                    <div style="width: auto; height:fit-content; display:flex; flex-direction:row; align-items:flex-end; justify-content: center">
                        <a id="post-name-mobile"><%= name %></a>
                        <a></a>
                        <a id="post-shelter-name" onclick="window.location = '/perfil/<%= refId %>'"> <%= ShelterName %></a>
                    </div>
                    <div class="post-details">
                        <div class="detail-cont">
                            <a class="detail-name">Castrado: </a>
                            <a class="detail-prop"><%- castrated ? 'Sí' : 'No'%></a>
                        </div>
                        <div class="detail-cont">
                            <a class="detail-name">Amigable con gatos: </a>
                            <a class="detail-prop"><%- catfriendly ? 'Sí' : 'No'%></a>
                        </div>
                        <div class="detail-cont">
                            <a class="detail-name">Amigable con perros: </a>
                            <a class="detail-prop"><%- dogfriendly ? 'Sí' : 'No'%></a>
                        </div>
                        <div class="detail-cont">
                            <a class="detail-name">Amigable con niños: </a>
                            <a class="detail-prop"><%- kidsfriendly ? 'Sí' : 'No'%></a>
                        </div>
                        <div class="detail-cont">
                            <a class="detail-name">Color: </a>
                            <a class="detail-prop"><%= color %></a>
                        </div>
                        <div class="detail-cont">
                            <a class="detail-name">Tamaño: </a>
                            <a class="detail-prop"><%= size %></a>
                        </div>
                        <div class="detail-cont">
                            <a class="detail-name">Edad (Años): </a>
                            <a class="detail-prop"><%= ageInYears %></a>
                        </div>
                        <div class="detail-cont">
                            <a class="detail-name">Edad (Meses): </a>
                            <a class="detail-prop"><%= ageInMonths %></a>
                        </div>
                        <div class="detail-cont">
                            <a class="detail-name">Raza: </a>
                            <a class="detail-prop"><%= breed %></a>
                        </div>
                        <div class="detail-cont">
                            <a class="detail-name">Vacunado: </a>
                            <a class="detail-prop"><%- vaccinated ? 'Sí' : 'No'%></a>
                        </div>
                        <div class="detail-cont">
                            <a class="detail-name">Desparasitado: </a>
                            <a class="detail-prop"><%- dewormed ? 'Sí' : 'No'%></a>
                        </div>
                    </div>
                </div>
                <div id="publication-actions">
                    <a class="action-button-circle" id="share-btn" onclick="share()">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#079292" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M20 5.5a3.5 3.5 0 01-6.062 2.385l-5.112 3.021a3.497 3.497 0 010 2.188l5.112 3.021a3.5 3.5 0 11-.764 1.29l-5.112-3.02a3.5 3.5 0 110-4.77l5.112-3.021v.001A3.5 3.5 0 1120 5.5zm-1.5 0a2 2 0 11-4 0 2 2 0 014 0zM5.5 14a2 2 0 100-4 2 2 0 000 4zm13 4.5a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </a>
                    <a class="action-button-circle">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#079292" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M4.25 2.5c-1.336 0-2.75 1.164-2.75 3 0 2.15 1.58 4.144 3.365 5.682A20.565 20.565 0 008 13.393a20.561 20.561 0 003.135-2.211C12.92 9.644 14.5 7.65 14.5 5.5c0-1.836-1.414-3-2.75-3-1.373 0-2.609.986-3.029 2.456a.75.75 0 01-1.442 0C6.859 3.486 5.623 2.5 4.25 2.5zM8 14.25l-.345.666-.002-.001-.006-.003-.018-.01a7.643 7.643 0 01-.31-.17 22.075 22.075 0 01-3.434-2.414C2.045 10.731 0 8.35 0 5.5 0 2.836 2.086 1 4.25 1 5.797 1 7.153 1.802 8 3.02 8.847 1.802 10.203 1 11.75 1 13.914 1 16 2.836 16 5.5c0 2.85-2.045 5.231-3.885 6.818a22.08 22.08 0 01-3.744 2.584l-.018.01-.006.003h-.002L8 14.25zm0 0l.345.666a.752.752 0 01-.69 0L8 14.25z"></path></svg>
                    </a>
                </div>
            </div>
        </div>
        <div id="description-container">
            <a style=" margin-left: 60px; font-weight: bolder; color: rgba(0, 0, 0, 0.75); margin-bottom: 10px;">Descripción</a>
            <p id="description"><%= description %> </p>
        </div>
        <% if(shelterPubs.length > 0) {%>
            <div id="more-shelter-publications">
                <h1 style="font-family: 'Lato', sans-serif; font-weight: bolder; font-size: 14pt; color: rgba(0, 0, 0, 0.75);">Mas publicaciones de <a href="/perfil/<%= refId %> " style="color: #079292; text-decoration: none;"><%= ShelterName %></a></h1>
                <div class="shelter-publications-container">
                    <% shelterPubs.forEach(function(post){%>
                        <div class="publication"
                            onclick="{let uid = '<%= post.Id %>'; window.location = '/publicacion/' + uid}">
                            <img src=<%=post.Photo %> alt class="publication-photo">
                            <div class="publication-desc-cont">
                                <h1 class="publication-name">
                                    <%= post.Name %>
                                </h1>
                                <p class="publication-description">
                                    <%= post.SDescription %>
                                </p>
                            </div>
                            <div class="ref-name-cont">
                                <a>
                                    <%= post.Refugio %>
                                </a>
                            </div>
                        </div>
                    <%});%>
                </div>
            </div>
        <%}%>
    </div>

    <script src="https://dogshome-6af88.web.app/__/firebase/8.6.5/firebase-app.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://dogshome-6af88.web.app/__/firebase/8.6.5/firebase-auth.js"></script>
    <script src="https://dogshome-6af88.web.app/__/firebase/init.js"></script>

    <script src="/scripts/auth/sign-out.js"></script>

    
    <% if (isPrivate) { %> 
        <%- include('./login-notification.ejs') %>
    <% } %> 
</body>
</html>