<!DOCTYPE html>
<html lang="en">
<head>
    <% var rootPath = './'; %>
    <!-- Include ejs head.ejs from file-->
    <%- include('./head.ejs'); %>
    <title>DogsHome | Alertas</title>

    <meta property="og:title" content="DogsHome | Alertas"/>
    <meta property="og:url" content="https://dogshome.com.ar/alertas"/>
    <meta property="og:description" content="DogsHome, descubrí alertas en tu zona">
    <meta property="og:image" content="https://dogshome.com.ar/profile/image/uploaded/dogshomelogo.jpg">
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="es_ES" />

    <script src="/scripts/main/basic-navigation.js"></script>
    <script src="/scripts/auth/sign-out.js"></script>

    <%- include(rootPath + 'ejs-resources/alerts/alerts_style.ejs'); %>

    <link rel="icon" href="/images/DogsHomeLogo-ReDesign%20(Colorified&Final).png">
    <link rel="canonical" href="https://dogshome.com.ar/alertas">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>
</head>
<body>
    <%- include(rootPath + 'ejs-resources/search-bar/search-bar.ejs') %> 
    <%- include(rootPath + 'ejs-resources/menu-mobile/expandable-menu.ejs') %>

    <div id="map-container">
        <div id="province-dropdown-container" class="dropdown-container">
            <select name="Provincia" class="dropdown" id="province-dropdown">
                <option disabled="" selected="" value="">Provincia...</option>
                <%- include(rootPath + 'draft-steps/provinces_options.ejs') %> 
            </select>
        </div>
        <div id="department-selector-container" class="text-search-container">
            <input type="text" placeholder="Departamento..." id="dep-input">
        </div>
        <div id="map"></div>
    </div>

    <script>
        var map = L.map('map').setView([-34.5662276065396, -58.490428041078], 13);
        
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            className: 'map',
            maxZoom: 19,
            minZoom: 5,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
    
    </script>

    <script src="/scripts/alerts/map-helpers.js"></script>
    <script src="/scripts/alerts/map-focus.js"></script>
    <script src="/scripts/alerts/fetch-data.js"></script>

    <script>
        const provinceDropdown = document.getElementById('province-dropdown');
        provinceDropdown.selectedIndex = undefined;
        let provinces = [];
        let focused_province = "Ciudad de Buenos Aires";
        getProvinces().then(provinces => {
            //Change map lat/long and zoom when province is selected
            provinceDropdown.addEventListener('change', (event) => {
                const province = provinces.find(province => province.nombre == provinceDropdown.options[provinceDropdown.selectedIndex].text);
                focusProvince(province, map);
                focused_province = province;

                getDepartments(focused_province.nombre).then(departments => {
                    let dep_name = departments.map(value => { return value.nombre });
                    $("#dep-input").autocomplete({
                        source: dep_name,
                        autoFill: true,
                        appendTo: "#department-selector-container",
                        select: function(event, ui) {
                            const department = departments.find(department => department.nombre == ui.item.value);
                            focusDepartment(focused_province.nombre, department, map);
                        },
                        focus: function(event, ui) {
                            const department = departments.find(department => department.nombre == ui.item.value);
                            focusDepartment(focused_province.nombre, department, map);
                        },
                    })

                    const dogMarker = L.icon({
                        iconUrl: 'https://cdn-icons-png.flaticon.com/512/9/9773.png',
                        iconSize: [50, 50],
                        iconAnchor: [25, 50],
                        popupAnchor: [0, -50]
                    });
                    const randomDepartmentLocation = [departments[Math.floor(Math.random() * departments.length)].centroide_lat, departments[Math.floor(Math.random() * departments.length)].centroide_lon];
                    L.marker(randomDepartmentLocation, {icon: dogMarker}).addTo(map)
                })
            });
        }).catch(error => console.log(error));

        

        
    </script>
</body>
</html>