<% var rootPath = '../../'; %>
<% var nav_btns = locals.navButtons || []; %>
<% var userData = locals.userData || {}; %> 
<%- include(rootPath + 'ejs-resources/search-bar/search_bar_style.ejs') %> 
<%- include(rootPath + 'ejs-resources/search-bar/hamburger_menu_icon_style.ejs') %> 
<%- include(rootPath + 'ejs-resources/search-bar/dropdown_button_icon_style.ejs') %> 

<div id="search-bar">
    <div class="top-bar-section-cont" style="flex-direction: row; align-items: center;">
        <img loading="lazy" src="/images/DogsHomeLogo-ReDesign%20(White&Final).png" alt="Dogshome logo"
            style="height: 50px; width: 50px; margin-right: 10px">
        <% nav_btns.forEach((button) => {%> 
            <a class="desktop-elements nav-buttons" onclick="window.location.href = '<%= button.href %>'"><%= button.name %></a>
        <% }) %>
        <!-- <a id="refugios-button" class="desktop-elements nav-buttons" onclick="navigateToRefs()">Refugios</a>-->
    </div>
    <div class="top-bar-section-cont">
        <form id="search-form">
            <div id="search-input-container"
                style="width: 100%; height: 100%; max-width: 600px; flex-direction: row; display: flex; align-items: center; justify-content: center; background-color: white">
                <input type="text" id="search-input" aria-label="Buscar" placeholder="Buscar en DogsHome…"
                    maxlength="120" autocapitalize="off" autocorrect="off" spellcheck="false" autocomplete="off"
                    tabindex="3">
                <span class="material-icons-outlined" style="color: #d3d3d3; cursor: pointer; user-select: none"
                    onclick="searchPost()">search</span>
            </div>
        </form>
    </div>
    <div class="top-bar-section-cont" id="userSpace"
        style="flex: 1; align-items: center; justify-content: flex-end;">
        <div class="hamburger-container mobile">
            <div class="hamburger" id="hamburger-1">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>   
        </div>
        <a class="desktop-elements nav-buttons" id="profile-name" style="margin-right: 0; padding-right: 10px"
            onclick="navigateToProfile()"></a>
        <% if (isPrivate) {%>
            <img loading="lazy" class="desktop-elements" id="profile-pic" onclick="window.location.href = '/signin'" src=<%=photoUrl %>
            alt="profile pic" style="height: 40px; width: 40px; cursor: pointer; margin-right: 10px; user-select:
            none; border-radius: 80px; object-fit: cover">
        <% } else { %>
            <div id="user-menu-image-container" class="desktop-elements">
                <div class="dropdown-btn-container">
                    <span class="arrow-line"></span>
                    <span class="arrow-line"></span>
                </div>
                <p class="search-bar-display-name">
                    <%= displayName %> 
                </p>
                <img loading="lazy" id="profile-pic"  src=<%=photoUrl %>
                alt="profile pic" style="height: 40px; width: 40px; cursor: pointer; margin-right: 10px; user-select:
                none; border-radius: 80px; object-fit: cover">
            </div>
            <%- include(rootPath + 'ejs-resources/search-bar/dropdown-menu/dropdown-menu.ejs') %> 
        <% } %>   
        
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".hamburger").click(function () {
            $(this).toggleClass("is-active");
            expandMenu();
        });
        $("#user-menu-image-container").click(function () {
            $(".dropdown-btn-container").toggleClass("clicked");
            expandDropdownMenu();
        });
    });

</script>