<% var rootPath = '../../../' %> 
<% var localPath = './' %> 
<%- include(localPath + 'dropdown_menu_style.ejs') %> 
<% var userData = locals.userData %>
<% userData = (userData === undefined) ? {} : userData; %> 
<% var myAccountType = userData.Type %> 
<% myAccountType = (myAccountType === undefined) ? {} : myAccountType; %> 

<script src="/scripts/auth/sign-out.js"></script>
<script src="/scripts/alerts/page-alerts.js"></script>

<% var dropdownOptions = locals.dropMenuOptions || []%> 
<div id="user-dropdown-container">
    <a class="dropdown-user-presentation"> Hola, <%= displayName %> </a>

    <span class="dropdown-line-separator"></span>

    <a href="/perfil/<%= uid %>" class="menu-option-container">
        <svg class="menu-option-identifier-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M12 2.5a5.5 5.5 0 00-3.096 10.047 9.005 9.005 0 00-5.9 8.18.75.75 0 001.5.045 7.5 7.5 0 0114.993 0 .75.75 0 101.499-.044 9.005 9.005 0 00-5.9-8.181A5.5 5.5 0 0012 2.5zM8 8a4 4 0 118 0 4 4 0 01-8 0z"></path></svg>
        Perfil
    </a>
    <a href="/perfil/<%= uid %>" class="menu-option-container">
        <svg class="menu-option-identifier-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M0 4.75C0 3.784.784 3 1.75 3h20.5c.966 0 1.75.784 1.75 1.75v14.5A1.75 1.75 0 0122.25 21H1.75A1.75 1.75 0 010 19.25V4.75zm1.75-.25a.25.25 0 00-.25.25v14.5c0 .138.112.25.25.25h20.5a.25.25 0 00.25-.25V4.75a.25.25 0 00-.25-.25H1.75z"></path><path fill-rule="evenodd" d="M5 8.75A.75.75 0 015.75 8h11.5a.75.75 0 010 1.5H5.75A.75.75 0 015 8.75zm0 4a.75.75 0 01.75-.75h5.5a.75.75 0 010 1.5h-5.5a.75.75 0 01-.75-.75z"></path></svg>
        Mis datos
    </a>

    <span class="dropdown-line-separator"></span>

    <a href="/perfil/borradores/" class="menu-option-container">
        <svg class="menu-option-identifier-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M17.263 2.177a1.75 1.75 0 012.474 0l2.586 2.586a1.75 1.75 0 010 2.474L19.53 10.03l-.012.013L8.69 20.378a1.75 1.75 0 01-.699.409l-5.523 1.68a.75.75 0 01-.935-.935l1.673-5.5a1.75 1.75 0 01.466-.756L14.476 4.963l2.787-2.786zm-2.275 4.371l-10.28 9.813a.25.25 0 00-.067.108l-1.264 4.154 4.177-1.271a.25.25 0 00.1-.059l10.273-9.806-2.94-2.939zM19 8.44l2.263-2.262a.25.25 0 000-.354l-2.586-2.586a.25.25 0 00-.354 0L16.061 5.5 19 8.44z"></path></svg>
        Borradores
    </a>
    <a class="menu-option-container">
        <svg class="menu-option-identifier-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M6.736 4C4.657 4 2.5 5.88 2.5 8.514c0 3.107 2.324 5.96 4.861 8.12a29.66 29.66 0 004.566 3.175l.073.041.073-.04c.271-.153.661-.38 1.13-.674.94-.588 2.19-1.441 3.436-2.502 2.537-2.16 4.861-5.013 4.861-8.12C21.5 5.88 19.343 4 17.264 4c-2.106 0-3.801 1.389-4.553 3.643a.75.75 0 01-1.422 0C10.537 5.389 8.841 4 6.736 4zM12 20.703l.343.667a.75.75 0 01-.686 0l.343-.667zM1 8.513C1 5.053 3.829 2.5 6.736 2.5 9.03 2.5 10.881 3.726 12 5.605 13.12 3.726 14.97 2.5 17.264 2.5 20.17 2.5 23 5.052 23 8.514c0 3.818-2.801 7.06-5.389 9.262a31.146 31.146 0 01-5.233 3.576l-.025.013-.007.003-.002.001-.344-.666-.343.667-.003-.002-.007-.003-.025-.013A29.308 29.308 0 0110 20.408a31.147 31.147 0 01-3.611-2.632C3.8 15.573 1 12.332 1 8.514z"></path></svg>        
        Favoritos
    </a>

    <% if (myAccountType.TypeNum === 2 || myAccountType.TypeNum === 3) {%> 
        <span class="dropdown-line-separator"></span>

        <a class="menu-option-container" onclick="createDraft()">
            <svg  class="menu-option-identifier-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M12.75 7.75a.75.75 0 00-1.5 0v3.5h-3.5a.75.75 0 000 1.5h3.5v3.5a.75.75 0 001.5 0v-3.5h3.5a.75.75 0 000-1.5h-3.5v-3.5z"></path><path fill-rule="evenodd" d="M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11 11-4.925 11-11S18.075 1 12 1zM2.5 12a9.5 9.5 0 1119 0 9.5 9.5 0 01-19 0z"></path></svg>
            Publicar
        </a>
    <% } %> 

    <span class="dropdown-line-separator"></span>

    <a class="menu-option-container" style="color: #ff0000 !important;" onclick="showSignOutAlert()">
        <svg class="menu-option-identifier-icon" style="fill: #ff0000 !important;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M3 3.25c0-.966.784-1.75 1.75-1.75h5.5a.75.75 0 010 1.5h-5.5a.25.25 0 00-.25.25v17.5c0 .138.112.25.25.25h5.5a.75.75 0 010 1.5h-5.5A1.75 1.75 0 013 20.75V3.25zm16.006 9.5l-3.3 3.484a.75.75 0 001.088 1.032l4.5-4.75a.75.75 0 000-1.032l-4.5-4.75a.75.75 0 00-1.088 1.032l3.3 3.484H10.75a.75.75 0 000 1.5h8.256z"></path></svg>
        Salir
    </a>
</div>
<% var optionActive = locals.dropdownActive %>
<% optionActive === undefined || optionActive === null ? optionActive = -1 : optionActive = optionActive  %> 
<script>
    const expandDropdownMenu = () => {
        $('#user-dropdown-container').toggleClass('dropdown-visible');
    }

    let dropdownOptions = document.querySelectorAll('.menu-option-container');
    
    const selectDropdownOption = (target) => {
        dropdownOptions.forEach(option => {
        option.classList.remove('dropdown-option-active');
        if (option === dropdownOptions[target]) {
            option.classList.add('dropdown-option-active');
        }
    });
    }

    selectDropdownOption(Number('<%= optionActive %>'));
</script>

<script>
    const createDraft = () => {
        Swal.fire({
            heightAuto: false,
            title: 'Creando borrador',
            allowOutsideClick: false,
            allowEscapeKey: false,
            allowEnterKey: false,
            showConfirmButton: false,
            didOpen: () => {
                Swal.showLoading();
            }
        })
        axios.post(`https://${window.location.host}/create/publication/draft`)
            .then(function (response) {
                const data = response.data || {};
                console.log(data);
                const id = data.id || '';
                const redirectPath = data.redirectPath || '';
                window.location.href = redirectPath;
            })
            .catch(function (error) {
                console.log(error);
            });
    }
</script>